# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
package-lock.json
npm-shrinkwrap.json

# Expo
.expo/
dist/
dist-*/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.qa
.env.pro
.env.ei
env/.env.local
env/.env.*

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android
